@media only screen and (min-width: 320px) and (max-width: 768px) {
    .topnav {
        display: block;
    }
    .header-nav {
        display: none;
    }
    .wrapper-photo {
        display: none;
    }
    .wrapper-photo-mob {
        display: block;
    }
    .wrapper {
        flex-direction: column;
    }
    .container-wrapper {
        display: block;
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .wrapper-photo-mob {
        text-align: center;
        margin-bottom: 41px;
        margin-top: 33px;
    }
    .container-wrapper-disc {
        padding-left: 23px;
        padding-right: 23px;
    }
    .container-wrapper-title > h1 {
        margin-bottom: 25px;
    }
    .nav-content-btn-view {
        display: none;
    }
    .nav-content {
        justify-content: center;
    }
    .nav-content > h2 {
        margin: 0;
        font-size: 18px;
    }
    .card-left {
        background-color: #fff;
    padding: 24px 23px 0px 27px;
    border-radius: 10px;
    margin-bottom: 32px;
    margin-left: 10px;
    margin-right: 10px;
    }
    .recent-post {
        flex-direction: column;
        align-items: center;
    }
    .container > h2 {
        margin-top: 8px;
        margin-bottom: 8px;
        text-align: center;
        font-size: 18px;
    }
    .card-Featured-works {
        flex-direction: column;
        text-align: center;
        max-width: 344px;
        margin: 0 auto;
    }
    .card-works-title {
        margin-top: 16px;
        margin-bottom: 17px;
        
    }
    .card-works-date {
        display: flex;
        margin-bottom: 30px;
    }


    .main-content-card {
        padding-left: 18px;
        padding-right: 18px;
    }
    .main-content-text {
        padding-left: 18px;
    }
    
  }


